@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Varela+Round&display=swap');

:root {
    --color-primary: red;
    --bg-dark:#141414;
    --text-color:#fff;
    --btn-color: rgb(156, 0, 0);
    --header-bg: rgba(0,0,0,0.8);
    --linear-bg: linear-gradient(to bottom, rgb(148, 0, 0), rgb(161, 0, 0), rgb(138, 2, 2), rgb(99, 0, 0), rgb(83, 2, 2));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 0, 0);
    color: var(--text-color);
    font-family: "Archivo Black", sans-serif; 
    font-weight: 400; 
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-image: var(--linear-bg);
}

.logo {
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    color: var(--color-primary);
    border: 4px solid #ff0000;
    border-radius: 100px;
    background-color: white;
}

.logo span {
    font-size: 8px;
    
}

.logo:hover {
    color: rgb(255, 89, 89);
    animation: acender 2s forwards;
}

@keyframes acender {
    to {
        color: var(--color-primary);
        text-shadow: 0 0 10px rgb(155, 1, 1), 0 0 20px #ff4800;
    }
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 2px solid white;
}

.menu-big {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu-big span {
    width: 100%;
    height: 3px;
    background: var(--text-color);
    border: 1px solid red;
    border-radius: 10px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: white;
    padding: 10px;
    border-top: 5px solid darkred;
}

.titulo h1 {
    background: var(--linear-bg);
    background-clip: text;
    color: transparent;
}

.img-deco {
    height: 100px;
    margin: 0px 30px;
}

footer {
    text-align: center;
    padding: 40px;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .menu-big {
        display: flex;
    }

    nav {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: var(--header-bg);
        flex-direction: column;
        padding: 20px 0;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }
}

.open span:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
}

.open span:nth-child(2){
    opacity: 0;
}

.open span:nth-child(3){
    transform: rotate(-45deg) translate(7px, -7px)
}
